@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body h1{
    display: block;
    text-align: center;
    size: 24px;
    color:yellow;
    background-color:#5817BD;
    margin:0px;
    padding:12px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
body{
    background-color:#8C5BD8;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
form{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 16px;
}
div{
    margin-top: 20px;
    font-size: 18px;
}
button{
    margin-top: 12px;
    font-size: 16px;
    border-radius: 25px;
    color: red;
    background-color: black;
    box-shadow: 1px 1px 2px yellow;
    width: 80px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    transform:scale(1.1);
}
input{
    width: 200px;
    height: 25px;
    border-radius: 4px;
    background-color:rgb(212, 209, 209);
    font-size: 18px;
    font-weight: 300;
}
legend{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: bolder;
    word-spacing:2px;
}

.data{
    padding-top: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
    color: red;
}